<main class="container">
  <ul class="list-unstyled row text-center">
    @for (user of arrUsers; track user.id){
    <li class="col-12 col-md-6 col-lg-4 col-xl-3 my-2">
      <app-user-card [myUser]="user"></app-user-card>
    </li>
    }
  </ul>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      Anterior
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Siguiente
    </button>
  </div>
  <hr />
</main>
